[{:db/id                 #db/id[:db.part/db]
  :db/ident              :track/lat
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/double
  :db/doc                "Latitude"
  :db.install/_attribute :db.part/db}
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :track/long
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/double
  :db/doc                "Longitude"
  :db.install/_attribute :db.part/db}
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :track/vel
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/double
  :db/doc                "Valocity"
  :db.install/_attribute :db.part/db}
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :track/gas-lvl
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/double
  :db/doc                "Gas level"
  :db.install/_attribute :db.part/db}
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :track/session-id
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/double
  :db/doc                "Session Id"
  :db.install/_attribute :db.part/db}]